<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Classic Film Blog<h1>
    <a href="/films">Films</a>
    <br/>
    <a href="/blogs">Blogs</a>

  </body>
</html>
