<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Gothic+A1:wght@300&display=swap" rel="stylesheet">
    <title>The Shower Scene</title>
    <meta http-equiv="refresh" content="4; URL='https://www.whitehouse.gov/'" />
  </head>
  <body>
    <div class="header-img">
      <div class="header-text">
        <h1>The Shower Scene</h1>
      </div>
    </div>
    <div class="nav">
      <ul>
        <li>|</li>
        <li><a href="/">Home</a></li>
        <li> | | </li>
        <li><a href="/psycho">Discussion</a></li>
        <li> | | </li>
        <li><a href="#">About</a></li>
        <li>|</li>
      </ul>
    </div>

    <div class="info-text">
      In 1960, Sir Alfred Hitchcock- the Master of Suspense- released the thriller masterpiece, <i>Psycho</i>. Consitered as one of the best films of all time by (though not limited to) BFI, AFI, IMDB, and The Guardian,
      <i>Psycho</i> was groundbreaking. It broke all of the rules, all without breaking a single code regulation. Though our calloused modern minds may go untroubled by the content, audiences in 1960 were not used to being exposed to such taboo things- pre-marital sex coupled with adultry, exposed undergarments and nudity, blatant and extreme violence, blurred gender lines, etc.
      <p>The purpose of this site is to provide a place for individuals to learn about and discuss what makes this scene a cinematic masterpiece.</p>

      <a href="/psycho">Discuss Hitchcock's Shower Scene Here!</a>
    </div>

    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/s22lNU5jXM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="resources">
      <h3>Want to learn more about the shower scene? Here are some wonderful resources:</h3>
    <ul>
      <li><a href="https://the.hitchcock.zone/wiki/1000_Frames_of_Psycho_(1960)_-_frame_446">1000 Frames of Psycho</a></li>

      <li><a href="https://www.thestar.com/entertainment/movies/2009/12/04/how_hitchcocks_psycho_changed_everything.html">How Hitchcock's Psycho Changed Everything</a></li>

      <li><a href="https://www.bfi.org.uk/news-opinion/news-bfi/interviews/psycho-shower-scene-alfred-hitchcock">10 Things You Never Knew About The Shower Scene in Psycho</a></li>

      <li><a href="https://www.gradesaver.com/psycho/study-guide/themes">Themes in Psycho</a></li>
    </ul>
    </div>
  </body>
  <footer>
  </footer>
</html>
