:root {
  --eggshell: #F2EBDF;
  --light-grey: #BFBAB0;
  --grey: #73706C;
  --white: #F2F2F2;
  --black: #0D0D0D;
}
body {
  background-color: var(--light-grey);
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
}
.header-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('showerHead.jpg');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--eggshell);
  font-family: 'Carrois Gothic SC', sans-serif;
}
.nav {
  background-color: var(--grey);
  padding: 1px;
  margin: -15px;
}
.nav a {
  text-decoration: none;
  color: var(--eggshell);
}
.nav li {
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
  padding-left: 21%;
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  height: 600px;
}
iframe {
  margin: auto;
  border-radius: 10px;
  border: solid var(--eggshell) 5px;
}
.info-text {
  height: 300px;
  background-color: var(--eggshell);
}
.other {
  background-color: var(--grey);
  height: 300px;
}
footer {
  background: var(--dark-grey);
  height: 300px;
}
