<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Review</h1>
    <form action='/dialM' method='POST'>
      Title: <input type="text" name="title" />
      <br/>
      Entry: <input type="text" name="entry" />
      <br/>
      <input type="submit" value="Submit Review" />

  </body>
</html>
