<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Dial M for Murder</h1>
    <ul>
      <% for(let i = 0; i = reviews.length; i++) {%>
        <li>
      <% } %>
        </li>
   </ul>

   <a href="/dialM/new">Create New Review</a>
  </body>
</html>
