<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Blog Post</h1>

    <% for(let i=0; i < films.length; i++) { %>

      <form action="/films/<%=films[i].id; %>" method="POST">
        <input type="text" name="" /><br/>
        <input type="submit" value="Post"/>
      </form>

    <% } %>


  </body>
</html>
