<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1><%=films.name; %> Blog Page</h1>
    Director: <%= films.director; %>
    <br/>
    Year: <%= films.year; %>

    <h3>Blog Posts</h3>

      <form action="/films" method="POST">
        <input type="text" name="" /><br/>
        <input type="submit" value="Post"/>
      </form>



  </body>
</html>
